<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ProcessSystemMonitoring Service</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../static/dashboard/css/images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="../static/dashboard/css/images/ios-desktop.png">


    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../static/dashboard/css/images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="../static/dashboard/css/images/favicon.png">

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/dashboard/css/material.min.css">
    <link rel="stylesheet" href="../static/dashboard/css/styles.css">

    <style>
    .modal {
      text-align: center;
      padding: 0!important;
    }

    .modal:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px; /* Adjusts for spacing */
    }

    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }

    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>

  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">서버 상세 정보</span>
          <div class="mdl-layout-spacer"></div>
          
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Legal information</li>
          </ul>
        </div>
      </header>
      

      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50" >
        <header class="demo-drawer-header">
          <div class="demo-avatar-dropdown">
            <img src="../static/dashboard/css/images/user.jpg" class="demo-avatar">
            <span class='title-margin'><b>PSM</b><br>Process System Monitoring</span>            
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="index.html"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>대시보드</a>
          <a class="mdl-navigation__link" href="server.html"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>서버목록</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span>made by gihoon</a>
        </nav>
      </div>

      <!-- Wide card with share menu button -->
      <!-- Square card -->

      <main class="mdl-layout__content mdl-color--grey-100" style="padding:30px">
          <div class="mdl-grid">
            <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col" style="height:100%">
              <div class="mdl-card__title mdl-card--expand mdl-color--grey-500" >
                <h2 class="mdl-card__title-text font-white" style="font-size:20px; font-weight: bold;">머신상태보기 - Agent1</h2>
              </div>
              <div>
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable full-width">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">이름</th>
                      <th>최근 1시간 값</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">CPU</td>
                      <td>1000</td>
                    </tr>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">RAM</td>
                      <td>1000</td>
                    </tr>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">NETWORK</td>
                      <td>1000</td>
                    </tr>
                  </tbody>
                </table>
                <!-- 상태 submit 버튼 -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect full-width">상태 보기</button>
              </div>
            </div>

            <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--6-col" style="height:100%">
              <div class="mdl-card__title mdl-card--expand mdl-color--teal-300" >
                <h2 class="mdl-card__title-text font-white" style="font-size:20px; font-weight: bold;">감시 중인 프로세스</h2>
              </div>
              <div>
                <table class="mdl-data-table mdl-js-data-table full-width">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric" style="width:50px">상태</th>
                      <th >이름</th>
                      <th >CPU(%)</th>
                      <th >메모리(%)</th>
                      <th style="width:50px">삭제</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric" style="color:red; font-weight: bold;">위험</td>
                      <td><a href="" data-toggle="modal" data-target="#myModal">chrome</a></td>
                      <td style="width: 25%;">
                        <div class="progress" style="margin-bottom: 0px;">
                          <div class="progress-bar" role="progressbar" aria-valuenow="70"
                              aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                70%
                          </div>
                        </div>
                      </td>
                      <td style="width: 25%;">
                        <div class="progress" style="margin-bottom: 0px;">
                          <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                  70%
                          </div>
                        </div>
                      </td>
                      <td><a href="">X</a></td>
                    </tr>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric" style="color:red; font-weight: bold;">위험</td>
                      <td><a href="">chrome</a></td>
                      <td style="width: 25%;">
                        <div class="progress" style="margin-bottom: 0px;">
                          <div class="progress-bar" role="progressbar" aria-valuenow="70"
                              aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                70%
                          </div>
                        </div>
                      </td>
                      <td style="width: 25%;">
                        <div class="progress" style="margin-bottom: 0px;">
                          <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                  70%
                          </div>
                        </div>
                      </td>
                      <td><a href="">X</a></td>
                    </tr>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric" style="color:red; font-weight: bold;">위험</td>
                      <td><a href="">chrome</a></td>
                      <td style="width: 25%;">
                        <div class="progress" style="margin-bottom: 0px;">
                          <div class="progress-bar" role="progressbar" aria-valuenow="70"
                              aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                70%
                          </div>
                        </div>
                      </td>
                      <td style="width: 25%;">
                        <div class="progress" style="margin-bottom: 0px;">
                          <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                  70%
                          </div>
                        </div>
                      </td>
                      <td><a href="">X</a></td>
                    </tr>
                  </tbody>
                </table>

                <!-- 상태 submit 버튼 -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect full-width">프로세스 추가</button>
              </div>
            </div>

            <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--3-col" style="height:100%">
              <div class="mdl-card__title mdl-card--expand mdl-color--teal-300" >
                <h2 class="mdl-card__title-text font-white" style="font-size:20px; font-weight: bold;">실행 중인 프로세스</h2>
              </div>
              <div>
                <table class="mdl-data-table mdl-js-data-table full-width">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">이름</th>
                      <th class="mdl-data-table__cell--non-numeric">pid</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">chrome</td>
                      <td class="mdl-data-table__cell--non-numeric">1111</td>
                    </tr>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">KakaoTalk</td>
                      <td class="mdl-data-table__cell--non-numeric">2222</td>
                    </tr>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">chrome#2</td>
                      <td class="mdl-data-table__cell--non-numeric">3333</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </main>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-body" style="padding:0px">
              <div class="mdl-shadow--2dp mdl-color--white">
              <div class="mdl-card__title mdl-card--expand mdl-color--grey-500" >
                <h2 class="mdl-card__title-text font-white" style="font-size:20px; font-weight: bold;">프로세스상태보기 - Chrome</h2>
              </div>
              <div>
                <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable full-width">
                  <thead>
                    <tr>
                      <th class="mdl-data-table__cell--non-numeric">이름</th>
                      <th>최근 1시간 값</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">CPU</td>
                      <td>1000</td>
                    </tr>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">RAM</td>
                      <td>1000</td>
                    </tr>
                    <tr>
                      <td class="mdl-data-table__cell--non-numeric">NETWORK</td>
                      <td>1000</td>
                    </tr>
                  </tbody>
                </table>
                <!-- 상태 submit 버튼 -->
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect full-width">상태 보기</button>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    <script src="../static/dashboard/js/material.min.js"></script>


  </body>
</html>
